<!-- *User Component* -->
<section class="container mt-4 text-body col-lg-10">
    <!-- Create User Form -->
    <div class="card my-3 p-3 rounded-4">
      <h5 class=" text-center">Create A User</h5>
      <form 
        class="form"
        [formGroup]="createUserForm"
        (ngSubmit)="createUser()"
      >
        <div class="row justify-content-center">
          <div class="col-xl-4 col-md-6 mb-2">
            <input 
              class="form-control bg-body-secondary fw-semibold text-md-start text-center" 
              [class.border-danger]="
                createUserForm.get('firstname')?.invalid 
                && (createUserForm.get('firstname')?.dirty || createUserForm.get('firstname')?.touched)
              "
              type="text" 
              formControlName="firstname"
              placeholder="User's First Name"
              required
            >
            <!-- Firstname error massages -->
            @if (createUserForm.get('firstname')?.touched && createUserForm.get('firstname')?.invalid) {

              <!-- Firstname required -->
              @if (createUserForm.get('firstname')?.hasError('required')) {
                <div class="d-block">
                  <i class="fa-solid fa-circle-exclamation text-danger me-1"></i>
                  <small class="text-danger">Firstname is required.</small>
                </div>
              }

              <!-- Firstname length -->
              @if (createUserForm.get('firstname')?.hasError('minlength') || createUserForm.get('firstname')?.hasError('maxlength')) {
                <div class="d-block">
                  <i class="fa-solid fa-circle-exclamation text-danger me-1"></i>
                  <small class="text-danger">Firstname must be between 3 and 18 characters.</small>
                </div>
              }
            }
          </div>
          <div class="col-xl-4 col-md-6 mb-2">
            <input 
              class="form-control bg-body-secondary fw-semibold text-md-start text-center" 
              [class.border-danger]="
                createUserForm.get('lastname')?.invalid 
                && (createUserForm.get('lastname')?.dirty || createUserForm.get('lastname')?.touched)
              "
              type="text" 
              formControlName="lastname"
              placeholder="User's Last Name"
              required
            >
            <!-- Lastname error massages -->
            @if (createUserForm.get('lastname')?.touched && createUserForm.get('lastname')?.invalid) {

              <!-- Lastname required -->
              @if (createUserForm.get('lastname')?.hasError('required')) {
                <div class="d-block">
                  <i class="fa-solid fa-circle-exclamation text-danger me-1"></i>
                  <small class="text-danger">Lastname is required.</small>
                </div>
              }

              <!-- Lastname length -->
              @if (createUserForm.get('lastname')?.hasError('minlength') || createUserForm.get('lastname')?.hasError('maxlength')) {
                <div class="d-block">
                  <i class="fa-solid fa-circle-exclamation text-danger me-1"></i>
                  <small class="text-danger">Lastname must be between 3 and 18 characters.</small>
                </div>
              }
            }
          </div>
        </div>

        <div class="row justify-content-center mb-4">
          <div class="col-xl-8">
            <input 
              class="form-control mb-2 bg-body-secondary fw-semibold text-md-start text-center"
              [class.border-danger]="
                createUserForm.get('email')?.invalid 
                && (createUserForm.get('email')?.dirty || createUserForm.get('email')?.touched)
              " 
              type="email" 
              formControlName="email"
              placeholder="User's Email"
              required
            >
            <!-- Email error massages -->
            @if (createUserForm.get('email')?.touched && createUserForm.get('email')?.invalid) {

              <!-- Email required -->
              @if (createUserForm.get('email')?.hasError('required')) {
                <div class="d-block">
                  <i class="fa-solid fa-circle-exclamation text-danger me-1"></i>
                  <small class="text-danger">Email is required.</small>
                </div>
              }

              <!-- Email length -->
              @if (createUserForm.get('email')?.hasError('email') || createUserForm.get('email')?.hasError('email')) {
                <div class="d-block">
                  <i class="fa-solid fa-circle-exclamation text-danger me-1"></i>
                  <small class="text-danger">invalid email.</small>
                </div>
              }
            }
          </div>
        </div>

        <div class="container text-center">
          <input
            class="btn btn-primary fw-semibold px-4" 
            type="submit"
            value="Create"
            [disabled]="createUserForm.invalid"
          >
        </div>
      </form>
    </div>
    
    <!-- User Cards -->
    <div class="row justify-content-center">
      @for (user of users; track user.id) {
        <div class="card rounded-4 p-2 mb-3 mx-1 col-lg-3 col-sm-5">
            <div class="d-flex justify-content-between">
              <app-user-card
                [user]="user"
              ></app-user-card>

              <div class="btn-group">
                <button 
                class="btn rounded-3 px-2 p-0" 
                type="button" 
                data-bs-toggle="dropdown" 
                data-bs-display="static"
                aria-expanded="false"
                >
                <i class="fa-solid fa-ellipsis"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                  <li class="dropdown-item">
                    <button 
                      (click)="editUser(user.id)"
                      class="btn btn-primary w-100 fw-semibold" 
                      >Edit</button>
                    </li>
                    
                    <li class="dropdown-item">
                      <button 
                      (click)="deleteUser(user.id)"
                      class="btn btn-danger w-100 fw-semibold" 
                      >Delete</button>
                    </li>
            
                  </ul>
              </div>
          </div>
        </div>
        }
      </div>
</section>
<!-- *User Component End* -->