<!-- *Posts Component* -->
<mat-sidenav-container class=" container mt-4 p-4 pt-5 bg-transparent text-body">
  <!-- *SideNav Content* -->
  <mat-sidenav 
  #sidenav
  mode="side"
  opened
  class=" bg-transparent mt-4 m-0 pt-5 p-0 pe-3 border-3 border-end rounded-0 position-fixed container w-auto d-flex flex-column text-center d-none d-lg-block"
  >
  
  
</mat-sidenav>

<!-- *Main Content* -->
<mat-sidenav-content class="">
  <header class="text-center">
    <h1 class="text-primary"> Posts Dashboard </h1>
    <p class="mb-2 fw-semibold">Below you'll find all posts in the DB for you to see and tinker.</p>
    <p class="mb-0 fw-semibold">You can <span class="text-bg-success bg-success p-1 pt-0 rounded-1">Create</span>, <span class="text-bg-warning bg-warning p-1 pt-0 rounded-1">Edit</span> and <span class="text-bg-danger bg-danger p-1 pt-0 rounded-1">Delete</span> whatever you like.</p>
  </header>
  
</mat-sidenav-content>

</mat-sidenav-container>
<!-- *Posts Component End* -->